{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>NewsBytes</title>
  </head>
  <body class="bg-gray-100">
    <div class="bg-white shadow-md p-6 mb-8">
      <h2 class="text-2xl font-bold text-gray-800">
        Latest News using
        <a href="https://newsapi.org" class="text-blue-500 hover:underline"
          >news API</a
        >
      </h2>
      <form action="{% url 'search_news' %}" method="get" class="mt-4 flex">
        <input
          type="text"
          name="query"
          placeholder="Search for news..."
          class="form-control block w-1/4 px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
        />
        <button
          type="submit"
          class="btn btn-primary ml-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700"
        >
          Search
        </button>
      </form>
    </div>
    {% block content %}{% endblock content %}
  </body>
</html>
