{% extends "layout.html" %} {% block content %}
<div class="container mx-auto mt-10">
  {% if error %}
  <div
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
    role="alert"
  >
    <strong class="font-bold">{{ error }}</strong>
  </div>
  {% else %}
  <div class="bg-white shadow-md rounded-lg mt-4 overflow-hidden">
    <img
      src="{{ top_image }}"
      alt="News Image"
      class="w-full h-64 object-cover"
    />
    <div class="p-6">
      <h2 class="text-2xl font-bold mb-2">{{ title }}</h2>
      <p class="text-gray-800 mb-2"><strong>Authors:</strong> {{ authors }}</p>
      <p class="text-gray-800 mb-2">
        <strong>Published on:</strong> {{ publish_date }}
      </p>
      <p class="text-gray-800 mb-2"><strong>Summary:</strong> {{ summary }}</p>
      <p class="text-gray-800 mb-2">
        <strong>Sentiment:</strong> {{ sentiment }}
      </p>
      <p class="text-blue-600 hover:underline">
        <strong><a href="{{ url }}">Original Article</a></strong>
      </p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
